section.top-posts
  h2.visually-hidden Current Top Posts
  .container.top-posts__container
    section.top-posts__section.top-of-the-month
      h3.top-of-the-month__title.section-title
        span.section-title__marker Featured
        | This Month
      if indexPageVariant === 1
        .top-of-the-month__slider
          div(data-simplebar data-simplebar-auto-hide="false" class="top-of-the-month__track")
            each item in pugData.top_of_the_month
              article.top-of-the-month__post.small-post
                h4.small-post__title
                  a(href= item.link).small-post__link= item.title
                a(href= item.categorie_url).small-post__badge= item.categorie
                img(src= item.image width="401" height="229", alt= item.title).small-post__image
                .small-post__description
                  .small-post__meta
                    a(href= item.author_link).small-post__writer-link
                      img(src= item.author_image, width="18" height="18" alt="Author Post - " + item.author_name).small-post__photo-author
                      p.small-post__author-name= item.author_name
                    time(datetime= item.post_datetime).small-post__date= item.post_date
                    p.small-post__reading-time= item.reading_time
                  p.small-post__post-text= item.post_text
      else if indexPageVariant === 2
        .top-of-the-month__slider
          div(data-simplebar data-simplebar-auto-hide="false" class="top-of-the-month__track top-of-the-month__track--column-no-image")
            each item in pugData.top_of_the_month
              article.top-of-the-month__post.small-post.small-post--medium-no-image
                h4.small-post__title
                  a(href= item.link).small-post__link= item.title
                a(href= item.categorie_url).small-post__badge= item.categorie
                .small-post__description
                  .small-post__meta
                    a(href= item.author_link).small-post__writer-link
                      img(src= item.author_image, width="18" height="18" alt="Author Post - " + item.author_name).small-post__photo-author
                      p.small-post__author-name= item.author_name
                    time(datetime= item.post_datetime).small-post__date= item.post_date
                    p.small-post__reading-time= item.reading_time
                  p.small-post__post-text= item.post_text
      else if indexPageVariant === 3
        .top-of-the-month__slider.top-of-the-month__slider--column
          div(data-simplebar data-simplebar-auto-hide="false" class="top-of-the-month__track")
            each item in pugData.top_of_the_month
              article.top-of-the-month__post.small-post.small-post--background
                img(src= item.image width="401" height="229", alt= item.title).small-post__image
                .small-post__info
                  h4.small-post__title
                    a(href= item.link).small-post__link= item.title
                  a(href= item.categorie_url).small-post__badge= item.categorie
                  .small-post__description
                    .small-post__meta
                      a(href= item.author_link).small-post__writer-link
                        img(src= item.author_image, width="18" height="18" alt="Author Post - " + item.author_name).small-post__photo-author
                        p.small-post__author-name= item.author_name
                      time(datetime= item.post_datetime).small-post__date= item.post_date
                      p.small-post__reading-time= item.reading_time
                    p.small-post__post-text= item.post_text
      else if indexPageVariant === 4
        .top-of-the-month__slider.top-of-the-month__slider--column.top-of-the-month__slider--decor
          div(data-simplebar data-simplebar-auto-hide="false" class="top-of-the-month__track top-of-the-month__track--decor")
            each item in pugData.top_of_the_month
              article.top-of-the-month__post.small-post.small-post--decor
                .small-post__image-wrapper
                  img(src= item.image width="401" height="229", alt= item.title).small-post__image
                .small-post__info
                  h4.small-post__title
                    a(href= item.link).small-post__link= item.title
                  a(href= item.categorie_url).small-post__badge= item.categorie
                  .small-post__description
                    .small-post__meta
                      a(href= item.author_link).small-post__writer-link
                        img(src= item.author_image, width="18" height="18" alt="Author Post - " + item.author_name).small-post__photo-author
                        p.small-post__author-name= item.author_name
                      time(datetime= item.post_datetime).small-post__date= item.post_date
                      p.small-post__reading-time= item.reading_time
                    p.small-post__post-text= item.post_text
    section.top-posts__section.popular-posts
      h3.popular-posts__title.section-title
        span.section-title__marker Popular
        | Posted
      - var validVariants = [3, 4]

        div(class= validVariants.includes(indexPageVariant) ? "popular-posts__slider popular-posts-slider popular-posts-slider--spacious splide" : "popular-posts__slider popular-posts-slider splide")

          .splide__track
            ul.splide__list
              - var pageVariants = [1, 4]

              if pageVariants.includes(indexPageVariant)
                - var newArr = [];
                - for (var i = 0; i < pugData.popular_posts.length; i += 2) {
                -   var pair = pugData.popular_posts.slice(i, i + 2);
                -   if (pair.length > 0) {
                -     newArr.push(pair);
                -   }
                - }

                each pair in newArr
                  li.splide__slide
                    each item in pair
                      article.popular-posts-slider__post.popular-posts-slider__post--tiny-no-image.small-post.small-post--tiny-no-image
                        h4.small-post__title
                          a(href= item.link).small-post__link= item.title
                        a(href= item.categorie_link).small-post__badge= item.categorie
                        .small-post__description
                          .small-post__meta
                            a(href= item.author_link).small-post__writer-link
                              img(src= item.author_image , width="18" height="18" alt="Author Post - " + item.author_name).small-post__photo-author
                              p.small-post__author-name= item.author_name
                            time(datetime= item.post_datetime).small-post__date= item.post_date
                            p.small-post__reading-time= item.reading_time
                          p.small-post__post-text= item.post_text
              if indexPageVariant === 2
                - var newArr = [];
                - for (var i = 0; i < pugData.popular_posts.length; i += 2) {
                -   var pair = pugData.popular_posts.slice(i, i + 2);
                -   if (pair.length > 0) {
                -     newArr.push(pair);
                -   }
                - }

                each pair in newArr
                  li.splide__slide
                    each item in pair
                      article.popular-posts-slider__post.popular-posts-slider__post--tiny-background.small-post.small-post--tiny-background
                        h4.small-post__title
                          a(href= item.link).small-post__link= item.title
                        a(href= item.categorie_link).small-post__badge= item.categorie
                        .small-post__description
                          .small-post__meta
                            a(href= item.author_link).small-post__writer-link
                              img(src= item.author_image , width="18" height="18" alt="Author Post - " + item.author_name).small-post__photo-author
                              p.small-post__author-name= item.author_name
                            p.small-post__reading-time= item.reading_time
              if indexPageVariant === 3
                - var newArr = [];
                - for (var i = 0; i < pugData.popular_posts_2.length; i += 4) {
                -   var pair = pugData.popular_posts_2.slice(i, i + 4);
                -   if (pair.length > 0) {
                -     newArr.push(pair);
                -   }
                - }

                each pair in newArr
                  li.splide__slide
                    each item in pair
                      article.popular-posts-slider__post.popular-posts-slider__post--no-description.small-post.small-post--no-description
                        img(src= item.image width="129" height="115", alt= item.title).small-post__image
                        .small-post__info
                          h4.small-post__title
                            a(href= item.link).small-post__link= item.title
                          a(href= item.categorie_link).small-post__badge= item.categorie
                          .small-post__description
                            .small-post__meta
                              a(href= item.author_link).small-post__writer-link
                                img(src= item.author_image , width="18" height="18" alt="Author Post - " + item.author_name).small-post__photo-author
                                p.small-post__author-name= item.author_name
                              p.small-post__reading-time= item.reading_time
